/*************************
Handcrafted by Aydar N.
2023

me@aydar.media
*************************/

@import 'fonts.css';

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: ease-out 0.2s;
}

html, body {
	overflow: hidden;
}

body {
	background-color: white;
}

img, svg {
	-webkit-user-select: none;
}

h1, img.text {
	z-index: 30;
}

h1 {
	font-size: 68px;
	font-family: Panama, serif;
	text-transform: uppercase;
	font-weight: 100;
	line-height: normal;
	letter-spacing: 0.08em;
	color: black;

	top: calc(50% - 260px);
	left: calc(50% - 540px);
}

h1.stroke {
	-webkit-text-stroke: 10px white;
	z-index: 20;
	filter:url(#goo);
}

#canvas, #frame {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#frame {
	position: absolute;
	margin: auto;
}

#canvas {
	margin: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas > * {
	position: absolute;
}

#frame img {
	position: absolute;
	width: 40px;
}

#frame img:nth-child(1) {
	top: -40px;
	left: -40px;
	transform: rotate(270deg);
}

#frame img:nth-child(2) {
	top: -40px;
	right: -40px;
}

#frame img:nth-child(3) {
	bottom: -40px;
	left: -40px;
	transform: rotate(180deg);
}

#frame img:nth-child(4) {
	bottom: -40px;
	right: -40px;
	transform: rotate(90deg);
}

.cell {
	position: absolute;
	box-sizing: border-box;
	z-index: 10;
}
